@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project4T.Models.Product

<form method="post">
    <label asp-for="Name">Name</label>
    <input t
</form>
