@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project4T.Models.Product

<form method="post">
    <label for="Name">Name</label>
    <input type="text" asp-for="Name"/>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
